@using monopoly.web.Controllers;
@model IEnumerable<Result>
@{
	ViewData["Title"] = "Area";
}

<div class="area" onclick="ClickOnArea(event)">
	@foreach (var item in Model)
	{
		<img class="@item.Class" onclick="ClickOnElement(event, @item.Name)" id="@item.Name"  alt="planet1" src="@item.ImagePath"
		style="left: @(item.PositionX)px; top: @(item.PositionY)px;">
	}
	<div id="cardInfo" class="cardInfo"></div>
</div>