@using monopoly.web.ViewModels;
@model IEnumerable<BaseModel>
@{
	ViewData["Title"] = "Area";
}

<div class="area" onclick="ClickOnArea(event)"></div>

@if (Model == null)
{
	<div id="no-connect" style="left:200px; top: 200px;">
		<h1>No connect</h1>
	</div>
}
else
{
	@foreach (var item in Model)
	{
		<img id="@item.Name" src="@Url.Content(item.ImagePath)" alt="@item.Name" class="base-class @item.Class" onclick="ClickOnElement(@item.Name)" 
	 style="left: @(item.PositionX)px; top: @(item.PositionY)px;">
	}
	<div id="cardInfo" class="base-class cardInfo"></div>
}